<div class="row profilesIndex">
  <h1>User Profiles</h1>

  <div class="user-box-one">


    <ul class="row">
      <li ng-repeat="user in profilesIndex.all" class="col-md-6 col-lg-4 user-box">
        <div class="user">
          <h3>{{ user.username }}</h3>
          <div class="user-img">
            <a ui-sref="profile({id: user.id})"><img ng-src="{{ user.image_src }}" alt="{{ user.username }}"></a>
          </div>
          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        </div>
      </li>
    </ul>
  </div>
</div>
