<h1>USER SHOW PAGE</h1>

  <div class="">
    <h3>User Info</h3>

      1 <img ng-src="{{ profile.user.imageSRC }}" alt="{{profile.user.username}}">
      2 <img ng-src="{{ profile.user.image }}" alt="{{profile.user.username}}">

      <p>Username: {{ profile.user.username }}</p>
      <p>Email: {{ profile.user.email }}</p>
  </div>

  <br>
  <br>

    <button class ="" ng-if="main.profilePageId === profile.user.id" ui-sref="editProfile({id: main.profilePageId})">Edit profile</button>
    <button class ="" ng-if="main.profilePageId === profile.user.id" ng-click="profile.delete()">Delete Profile</button>
