<div class="newTrip">

<div class="box2">
  <div class="box">

    <h1>Edit Your Trip</h1>

    <form ng-submit="tripsEdit.update()">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ng-model="tripsEdit.trip.name">
      </div>

      <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" ng-model="tripsEdit.trip.description">
      </div>

      <div>
        <label for="base64">Image</label>
        <input type="file" base64 name="base64" id="base64" ng-model="tripsEdit.trip.base64">
      </div>

<!-- ATTENDEES -->
      <div>
        <div class="">
          <label>Invite some friends:</label>
        </div>
          <label ng-repeat="user in tripsEdit.users">
          <input type="checkbox" name="attendees" checklist-model="tripsEdit.trip.attendee_ids" checklist-value="user.id">{{ user.username }}
          </label>
        </div>
        <div class="createButton">
          <button >Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
