
<div class="row">
  <h3>Welcome back... {{ tripsIndex.currentUser.first_name }}</h3>
</div>

<div ng-if="main.isAuthenticated()" class="row">
  <button ui-sref="tripsNew" class="imgButtonImage image-one">
    <div class="imgButtonText"> New Trip</div>
  </button>

  <button ui-sref="profile({id: main.profilePageId})" class="imgButtonImage image-two">
    <div class="imgButtonText"> My Profile</div>
  </button>

  <button ui-sref="profilesIndex" class="imgButtonImage image-three">
    <div class="imgButtonText"> All profiles</div>
  </button>
</div>

<div class="row">
  <h1>All Trips</h1>
</div>

<div class="row tripsIndex">

  <ul>
    <li ng-repeat="trip in tripsIndex.all" class="col-md-4 ">
      <div class="trip">
        <img ng-src="{{ trip.image_src }}" alt="{{ trip.name }}">
        <a ui-sref="tripsShow({id: trip.id})"><h1>{{ trip.name }}</h1></a>
        <h3>{{ trip.description }}</h3>
        <img class="profileSml" ng-src="{{ trip.user.image_src }}" alt="{{trip.user.username}}">
        <span>Created by: <strong>{{ trip.user.username }}</strong></span>
      </div>
    </li>
  </ul>
</div>
