<div class="tripsIndex">

<div class="row">
  <h3>Welcome back {{ tripsIndex.currentUser.first_name }}</h3>
</div>

<div ng-if="main.isAuthenticated()" class="row">
  <button ui-sref="tripsNew" class="imgButtonImage image-one">
    <div class="imgButtonText"> New Trip</div>
  </button>

  <button ui-sref="profile({id: main.currentUser.id})" class="imgButtonImage image-two">
    <div class="imgButtonText"> My Profile</div>
  </button>

  <button ui-sref="profilesIndex" class="imgButtonImage image-three">
    <div class="imgButtonText"> All profiles</div>
  </button>
</div>

<div class="row">
  <h1>All Trips</h1>
</div>

<div class="row tripsIndex">

  <ul>
    <li ng-repeat="trip in tripsIndex.all" class="col-md-4">
        <!-- <img ng-src="{{ trip.image_src }}" alt="{{ trip.name }}"> -->
        <a ui-sref="tripsShow({id: trip.id})"><div class="overlayTwo">

          <div style="background-image: url('{{ trip.image_src }}'); background-size: cover; z-index: 0;" class="box trip overlay">
          <img ng-src="{{ trip.user.image_src }}" alt="{{trip.user.username}}"><h2>{{ trip.name }}</h2>
      </div></div></a>
    </li>
  </ul>
</div>
</div>
