<h1>Index page</h1>

<h3>Welcome back {{ tripsIndex.currentUser.first_name }}</h3>

<img ng-src="{{ tripsIndex.currentUser.img_src }}" alt="tripsIndex.currentUser.username">

<h4><a ui-sref="tripsNew">New Trip</a></h4>


<ul class="row">
  <li ng-repeat="trip in tripsIndex.all" class="col-md-6">
    <div class="">
      <p>Image below</p>
      <img ng-src="{{ trip.image_src }}" alt="{{ trip.name }}">
      <p>image above</p>
      <h2>{{ trip.name }}</h2>
      <h3>{{ trip.description }}</h3>
      <p>Created by: <strong>{{ trip.user.username }}</strong></p>

      <img ng-src="{{ trip.user.image_src }}" alt="{{trip.user.username}}">
      <button ui-sref="tripsShow({id: trip.id})">View</button>
    </div>
  </li>
</ul>


<a ui-sref="tripsNew"><img src="https://pixabay.com/photo-1264062/" alt="Map image"></a>
