<div class="newTrip">
  <div class="box2">
    <div class="box">

    <h1>New Trip</h1>
    <form name= "tripsNew.tripForm" ng-submit="tripsNew.create()"  >
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ng-model="tripsNew.trip.name">
      </div>

      <div>
        <label for="description">Desription</label>
        <input type="text" id="description" name="description" ng-model="tripsNew.trip.description">
      </div>

      <div>
        <label for="start_date">Departure date</label>
        <input type="date" id="start_date" name="start_date" ng-model="tripsNew.trip.start_date">
      </div>

      <div>
        <label for="base64">Image</label>
        <input type="file" base64 name="base64" id="base64" ng-model="tripsNew.trip.base64">
      </div>

      <div>
        <label for="airport_id">Home Airport: </label>

        <select ng-model="tripsNew.trip.airport_id">
          <option ng-repeat="airport in tripsNew.airports | filter:{country:'uk'}" name="airport_id" value="{{airport.id}}" required >{{airport.name}}</option>
        </select>

        <div style="color:red;" class="ng-message-error" ng-messages="tripsNew.tripForm.airport_id.$error" role="alert" ng-show="(tripsNew.tripForm.$submitted || tripsNew.tripForm.airport_id.$touched)"> <div ng-messag="required">Airport is required</div>
        </div>
      </div>

<!-- ATTENDEES -->
      <div>
        <div class="">
          <label>Invite some friends:</label>
        </div>
        <label ng-repeat="user in tripsNew.users">
        <input type="checkbox" name="attendees" checklist-model="tripsNew.trip.attendee_ids" checklist-value="user.id"> <p>{{ user.username }}</p>
        </label>
      </div>
        <button>Create Trip</button>
    </form>
  </div>
  </div>
</div>
