<h1>Show page</h1>

<div class="row">
  <div class="col-md-6">
    <div class="trip">
      <img ng-src="{{ tripsShow.trip.image_src }}" alt="{{ tripsShow.trip.name }}">
      <h2>Trip Name: {{ tripsShow.trip.name }}</h2>
      <img ng-src="{{ tripsShow.trip.user.image_src }}" alt="{{ tripsShow.trip.user.username }}">
      <p>Created by: <strong>{{ tripsShow.trip.user.username }}</strong></p>

      {{ tripsShow.trip.user_id }}

  <!-- ====================BUTTONS: attending, edit, delete========================== -->
      <div>
        <button ng-click="tripsShow.toggleAttending()" ng-if="!tripsShow.isAttending() && main.isAuthenticated()">Attend</button>
        <button ng-click="tripsShow.toggleAttending()" ng-if="tripsShow.isAttending() && main.isAuthenticated()">Reject</button>

        <button ui-sref="tripsEdit({id: tripsShow.trip.id})" ng-if="main.isAuthenticated() && main.currentUser.id === tripsShow.trip.user.id">Edit</button>
        <button ng-click="tripsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === tripsShow.trip.user.id">Delete</button>
      </div>
  <!-- ================BASIC INFO====================== -->
      <h3>Trip description: {{ tripsShow.trip.description }}</h3>

      <h4>StartDate: {{ tripsShow.trip.start_date | date: 'longDate' }}</h4>

      <h3>HomeAirport: {{ tripsShow.trip.airport.name }}</h3>
      <img ng-src="{{ tripsShow.trip.airport.image }}" style="height: 200px">

  <!-- =======================LEGS========================== -->

      <div class="col-md-6">
        <div class="airports">
          <h1>Legs:</h1>
          <ul>
            <li ng-repeat="legs in tripsShow.trip.legs">
              <img ng-src="{{ legs.airport.image }}" style="height: 200px">
              <h3>Flying to: {{ legs.airport.name }}</h3>
              <h4>On the: {{ legs.start_date | date: 'longDate'}}</h4>
              <h4>Price: {{ legs.price }}</h4>
              <h4>Airline: {{ legs.airline }}</h4>
            </li>
          </ul>
        </div>
      </div>

      <h4><a ui-sref="legsNew({id: tripsShow.trip.id})">New Leg</a></h4>

      <!-- ======================ADDING LEGS============================= -->

      <div class="">
        <div class="">

<!-- MAKE TOGGLE -->

          <!-- <div class="col-md-6" ng-if="main.isAuthenticated() && main.currentUser.id === tripsShow.trip.user.id"> -->
            <h2>Add Leg</h2>
            <form ng-submit="tripsShow.addLeg()">
              <label>Date: </label>

              <input value="" type="date" id="start_date" name="start_date" ng-model="tripsShow.leg.start_date">

              <label>New Airport: </label>
              <select ng-model="tripsShow.leg.airport_id">
                <option ng-repeat="airport in tripsShow.airports" name="airport_id" value="{{airport.id}}">{{airport.name}}</option>
              </select>

              <!-- <div>
                <label>2nd Airport</label>
                <label ng-repeat="flight in legsNew.flights">
                  <input type="checkbox" name="flights" checklist-model="tripsShow.leg.airport_ids" checklist-value="flight.DestinationCity"><p>{{ flight.DestinationCity}} in {{ flight.DestinationCountry}} £{{ flight.MinPrice}} {{ flight.OutboundLeg.DestinationId }}</p>
                </label>
              </div> -->

              <button ui-sref="legsNew">Create</button>
            </form>
          <!-- </div> -->
        </div>
      </div>


  </div>
</div>

<!-- ================ATENDEES================================= -->

  <div class="col-md-6">
    <div class="attendees">
      <h5>Attending</h5>
      <ul>
        <li ng-repeat="attendee in tripsShow.trip.attendees">{{ attendee.username }}</li>
      </ul>
    </div>
  </div>
</div>

<!-- ======================COMMENTS============================= -->

<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in tripsShow.trip.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="tripsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
      </ul>
    </div>


    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="tripsShow.addComment()">
        <textarea type="text" name="body" ng-model="tripsShow.comment.body"></textarea>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>

{{ tripsShow.trip }}

<br>
<br>
<h2>what</h2>
{{ tripsShow.trip.leg }}

<!-- {{ tripsShow.trip.user }} -->
