<div class="homeImage"></div>

<div class="title"> Go Big or Go Home</div>

<a class="arrow animated bounce" href="#how2" id="arrow">
  <img width="40" height="40" alt="" src="http://www.clker.com/cliparts/5/d/b/3/1216181654927089301jean_victor_balin_arki_arrow_down.svg.med.png"/>
</a>

<div class="container2">

<div class="info">

  <div class="infoBox" id="how2">
      <h2>How TripApp works</h2>
      <p>As an avid traveller, I know how frustrating it is trying to design a trip around the world that keeps within a budget and satisfies everyone of your friends.  My app makes it really easy for a group of friends to join together and figure that out.  Users can login and create a trip leaving from a UK airport.  Once created, the user can add 'legs' to the trip which grabs live prices from Skyscanner's API.  I then used this data with the Google Maps API to create a route on the map.  Users can then choose to either add further 'legs' ('go big') or 'go home' (back to the initial airport).  From there, other users can comment on the trip giving feedback and choose to 'attend' if they like the trip too.</p>
      <p>Click on <a ui-sref="tripsIndex">'TRIPS'</a> to begin or <a ui-sref="register">'REGISTER'</a> to create your own account and create a trip</p>
  </div>


  <div class="right">
    <img src="../images/mapss.png"/>
  </div>
<!--
  <div class="middlepic">
    <img src="../images/ss-map.png"/>
  </div> -->

</div>

</div>
