<div class="auth">

  <h1>Login page</h1>
  <div class="box2">

      <div class="box">

      <form name="auth.loginForm" ng-submit="auth.login()" novalidate>


        <div class="">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" ng-pattern="/@/" ng-model="auth.credentials.email" required>
        </div>

        <div ng-messages="auth.loginForm.email.$error" role="alert" ng-show="(auth.loginForm.email.$touched) &&(auth.loginForm.email.$invalid)">
          <div ng-message="required">Email is required </div>
          <div ng-message="pattern">Please enter a valid email.</div>
        </div>

        <div class="">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ng-model="auth.credentials.password" required>
        </div>

        <div ng-messages="auth.loginForm.password.$error" role="alert" ng-show="(auth.loginForm.password.$touched) &&(auth.loginForm.password.$invalid)">
          <div ng-message="required">Password is required </div>
        </div>

        <div class="authButton">
          <button>Login</button> <br>
        </div>
      </form>
    </div>
  </div>
</div>
