<div class="auth">

  <div class="box2">

    <div class="box">
      <h1>Register</h1>

      <form name="auth.registerForm" ng-submit="auth.register()">

        <div>
          <label for="username">Username</label>
          <input type="text" name="username" ng-model="auth.user.username" id="username" required>
        </div>
        <div ng-messages="auth.registerForm.username.$error" role="alert" ng-show="(auth.registerForm.username.$touched) &&(auth.registerForm.username.$invalid)">
          <div style="color:red;" ng-message="required"> A valid username is required </div>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" ng-model="auth.user.email" ng-pattern="/@/" required>
        </div>

        <div ng-show="auth.registerForm.email.$touched &&(auth.registerForm.email.$invalid)" ng-messages="auth.registerForm.email.$error" role="alert">
          <div style="color:red;" ng-message="required"> Email is required </div>
          <div style="color:red;" ng-message="pattern">Please enter a valid email.</div>
        </div>

        <div>
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" ng-model="auth.user.first_name" id="first_name">
        </div>
        <div ng-messages="auth.registerForm.first_name.$error" role="alert" ng-show="(auth.registerForm.first_name.$touched) &&(auth.registerForm.first_name.$invalid)">
          <div style="color:red;" ng-message="required"> A valid first name is required </div>
        </div>
        <div>
          <label for="second_name">Second Name</label>
          <input type="text" name="second_name" ng-model="auth.user.second_name" id="second_name">
        </div>
        <div ng-messages="auth.registerForm.second_name.$error" role="alert" ng-show="(auth.registerForm.second_name.$touched) &&(auth.registerForm.second_name.$invalid)">
          <div style="color:red;" ng-message="required"> A valid second name is required </div>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" ng-model="auth.user.password" required>
        </div>
        <div ng-messages="auth.registerForm.password.$error" role="alert" ng-show="(auth.registerForm.password.$touched) &&(auth.registerForm.password.$invalid)">
          <div style="color:red;" ng-message="required"> Password is required </div>
        </div>

        <div>
          <label for="passwordConfirmation">Password Confirmation</label>
          <input type="password" name="passwordConfirmation" ng-model="auth.user.passwordConfirmation" required>
        </div>
        <div ng-messages="auth.registerForm.passwordConfirmation.$error" role="alert" ng-show="(auth.registerForm.passwordConfirmation.$touched) &&(auth.registerForm.passwordConfirmation.$invalid)">
          <div style="color:red;" ng-message="required">Confirmation is required </div>
        </div>

      <div>
        <label for="base64">Image</label>
        <input type="file" base64 name="base64" id="base64" ng-model="auth.user.base64">
      </div>

      <div class="authButton">
        <button >Register</button>
      </div>

      </form>
    </div>
  </div>
</div>
