<h1>New Leg</h1>

{{ legsNew.leg }}

<div class="row">
  <div class="col-md-6">
    <form ng-submit="legsNew.create()">



<!-- NEW TRIP -->

      <div>
        <label for="start_date">Departure date</label>
        <input value="" type="date" id="start_date" name="start_date" ng-model="legsNew.leg.start_date">
      </div>

<br>

<h5>Search flights</h5>
<input type="text" class="search" ng-model="legsNew.q" placeholder="Search...">

<h5>Price</h5>
<select ng-model="legsNew.sort">
  <option value="+price">Price ascending</option>
  <option value="-price">Price descending</option>
</select>

  {{ legsNew.leg }}
      <div>
        <label>2nd Airport:</label>
        <label ng-repeat="flight in legsNew.flights">
          {{ flight.DestinationCity}} in {{ flight.DestinationCountry}} £{{ flight.MinPrice}} {{ flight.code }}
          <input type="radio" name="flights" ng-model="legsNew.selectedFlight" ng-value="flight"><br>
        </label>
      </div>
      <!-- <div>
        <label>New Airport: </label>
        <select ng-model="legsNew.leg.airport_id">
          <option ng-repeat="airport in legsNew.airports" name="airport_id" value="{{airport.id}}">{{airport.name}}</option>
        </select>
      </div> -->


      <button>Create</button>
    </form>

    <button ng-click="legsNew.goHome()">Go Home</button>
    <button ng-click="legsNew.getFlights()">Search</button>
  </div>
</div>
