<h1>New Leg</h1>

{{ legsNew.leg }}

<div class="row">
  <div class="col-md-6">
    <form ng-submit="legsNew.create()">

<!-- NEW TRIP -->

      <div>
        <label for="start_date">Departure date</label>
        <input value="" type="date" id="start_date" name="start_date" ng-model="legsNew.leg.start_date">
      </div>

<br>
      <div>
        <label>2nd Airport:</label>
        <label ng-repeat="flight in legsNew.flights">
          <input type="checkbox" name="flights" checklist-model="legsNew.leg.code" checklist-value="flight.code"><p>{{ flight.DestinationCity}} in {{ flight.DestinationCountry}} £{{ flight.MinPrice}} {{ flight.code }}</p>
        </label>
      </div>
      <!-- <div>
        <label>New Airport: </label>
        <select ng-model="legsNew.leg.airport_id">
          <option ng-repeat="airport in legsNew.airports" name="airport_id" value="{{airport.id}}">{{airport.name}}</option>
        </select>
      </div> -->


      <button>Create</button>
    </form>

    <button ng-click="legsNew.getFlights()">Search</button>
  </div>
</div>
