<!DOCTYPE html>
<html ng-app="tripApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEi_tighHwZ4dswlQz7CWXWxpHZ17LzoM"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Annie+Use+Your+Telescope|Handlee|Loved+by+the+King|Poiret+One" rel="stylesheet">
    <title>TripApp!</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <!-- <body ng-controller="MainCtrl as main" ng-class="main.pageName"> -->

    <header>
      <nav class="navbar navbar-light bg-faded">
        <ul class="">
          <!-- <li class="logo"><h1 class="title">TripApp</h1></li> -->
          <li class="menu-icon" ng-click="navIsOpen = !navIsOpen">&#9776;</li>
          <div class="dropdown" ng-class="{ 'open': navIsOpen }">
            <li ng-if="!main.isAuthenticated()"><a ui-sref="#">TripApp</a></li>
            <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
            <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
            <li ng-if="main.isAuthenticated()"><a ui-sref="profile({id: main.currentUser.id})">My Profile</a></li>
            <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
            <li ng-if="main.isAuthenticated()"><a ui-sref="tripsNew">New Trip</a></li>
            <li ng-if="main.isAuthenticated()"><a ui-sref="profilesIndex">User's Profiles</a></li>
            <li><a ui-sref="tripsIndex">Trips index</a></li>
          </div>
        </ul>

      </nav>
    </header>
    <div class="message" ng-if="main.message">
      <div class="container">{{main.message}}</div>
    </div>
    <main ui-view></main>
  </body>
</html>
