///////////FONTS///////////////////
//Main headings:
//font-family: 'Amatic SC', cursive;

//sub-headings:
//font-family: 'Open Sans Condensed', sans-serif;

//plain text:
//font-family: 'Handlee', cursive;

//More texts:
// font-family: 'Poiret One', cursive;
// font-family: 'Handlee', cursive;
// font-family: 'Loved by the King', cursive;

////////////////COLOURS//////////////////////

$cream: rgba(249,242,231,0);
$primary-color-dark:   #388E3C; //dark green
$primary-color:        #4CAF50;// moss rgreen
$primary-color-light:  #C8E6C9;//pale moss
$primary-color-text:   #FFFFFF; //white
$accent-color:         #03A9F4; //bright blue
$primary-text-color:   #212121; //black
$secondary-text-color: #757575; //dark grey
$divider-color:        #BDBDBD; //midlight grey

$pale-white: rgba(252, 250, 250, 1); //pale white
$light-grey: rgba(200, 211, 213, 1); //light grey
$green: rgba(43, 168, 74, 1); // green
$light-greyblue: rgba(164, 184, 196, 1);// light greyblue
$drker-greyblue: rgba(110, 131, 135, 1); //drker grey blue

///////NG MESSAGES/////////

$invalid-color: #EB1D3A;
$valid-color:   green;
