@media only screen and (max-width: 768px) {
  nav{
    z-index: 305;
    ul {
      padding: 0 20px !important;
      .dropdown {
        display: none;
        background-color: white;
        z-index: 305;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px;
        &.open {
          display: block;
          z-index: 305;
        }
      }
      li {
        float: none;
        text-align: right;
        &.menu-icon {
          display: block;
        }
      }
    }
  }

}
@media only screen and (max-width: 991px) {
  .info{
    border-bottom: 1px solid black;
  }
}
