button {
  margin: 30px;
  font-size: 25px;
}
div {
  margin: 10px;
}

img {
  max-height: 300px;
}
/////////////////////////MAPS//////////////////////

// #map-canvas {
//   height:600px;
//   width: 100%;
//   text-align: center;
//   margin-bottom: 50px;
//   background-color: lightgrey;
// }

.world-map {
  background-size: cover;
  background-position: center;
  max-width: 1024px;
  height: 100vh;
}

// Map - may need to remove later
// #map {
//   height: calc(100vh - 50px);
// }

.infowindow {
  font-family: arial, monospace;
  color: lightgrey;
}


////////////////TAKEN FORM NG MESSAGES ERROR HANDLGING

$invalid-color: #EB1D3A;
$valid-color:   green;

// form.ng-dirty {
//   input {
//     &.ng-valid {
//       border: 2px solid $valid-color;
//     }
//
//     &.ng-invalid {
//       border: 1px solid $invalid-color;
//     }
//   }
// }

.ng-message-error p {
  border: 1px solid $invalid-color;
  background: lighten($invalid-color, 30%);
  padding: 5px;
  border-radius: 5px;
  color: $invalid-color;
}
/////////////////////////////////////////////////////////
